.container {
  position: relative;
  height: 1500px;
}
.navigation {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: end;
}
.navigation ul li {
  margin-top: 20px;
  margin-right: 100px;
  text-decoration: black;
  font-weight: bolder;
}
.navigation ul li h1 {
  color: purple;
  margin-top: 80px;
}
.navigation ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dailyQuotes {
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}
.photos img {
  width: 400px;
  height: 400px;
  margin: 40px;
  align-items: center;
}
.buttons {
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.buttons h3 {
  margin-left: 280px;
  font-size: 30px;
  color: purple;
  font-weight: bolder;
}
.buttons button {
  padding: 12px;
  margin-left: 100px;
  background-color: #5cb85c;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  border-style: none;
}
.message h2 {
  text-align: center;
  color: rgb(208, 13, 13);
  font-weight: bolder;
}
.buttons button:hover {
  background-color: #255c25;
}
